<!DOCTYPE html>
<%- include('partials/head'); %>

<body>
    <%- include('partials/header'); %>
    <%- include('home-layout/aside-top-home'); %>
    <%= message %>
    <%- include('partials/footer'); %>
    <%- include('partials/script-js'); %>
</body>

</html>