<!DOCTYPE html>
<%- include('partials/head'); %>

<body>
    <%- include('partials/header'); %>
    <div id="reponse">
    </div>
    <%- include('partials/footer'); %>
    <%- include('partials/script-js-add-card'); %>
    <%- include('partials/script-js'); %>
    <%- include('partials/ajax-add-single-post'); %>
</body>

</html>